* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;

}
body {
    display: grid;
    place-items: center;
     background-color: #dde1e7;
}
.clock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dde1e7;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94, 104, 121, 0.288);

}
.clock::before{
    position: absolute;
    content: '';
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background-color: #dde1e7;
     box-shadow: inset -3px -3px 7px #ffffff73,
                inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.clock::after {
    position: absolute;
    content: '';
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #dde1e7;
     box-shadow:  -1px -1px 5px #ffffff73,
                 1px 1px 3px rgba(94, 104, 121, 0.288) 
}
.clock .center-nut {
    height: 15px;
    width: 15px;
    background: #404040;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
}
.clock .center-nut2 {
    height: 9px;
    width: 9px;
    background: #9498db;
    border-radius: 50%;
    z-index: 15;
    position: absolute;
}
.indicator div {
    position: absolute;
    width: 2px;
    height: 5px;
    background: #404040;
}
.indicator div:nth-child(1) {
    transform: rotate(30deg) translateY(-100px);
    background: #3498db;
}
.indicator div:nth-child(2) {
    transform: rotate(60deg) translateY(-100px);
     background: #3498db;
}
.indicator div:nth-child(3) {
    transform: rotate(90deg) translateY(-100px);
     background: #3498db;
}
.indicator div:nth-child(4) {
    transform: rotate(120deg) translateY(-100px);
     background: #3498db;
}
.indicator div:nth-child(5) {
    transform: rotate(150deg) translateY(-100px);
     background: #3498db;
}
.indicator div:nth-child(6) {
    transform: rotate(180deg) translateY(-100px);
     background: #3498db;
}
.indicator div:nth-child(7) {
    transform: rotate(210deg) translateY(-100px);
     background: #3498db;
}
.indicator div:nth-child(8) {
    transform: rotate(240deg) translateY(-100px);
     background: #3498db;
}
.indicator div:nth-child(9) {
    transform: rotate(270deg) translateY(-100px);
     background: #3498db;
}
.indicator div:nth-child(10) {
    transform: rotate(300deg) translateY(-100px);
     background: #3498db;
}
.indicator div:nth-child(11) {
    transform: rotate(330deg) translateY(-100px);
     background: #3498db;
}
.indicator div:nth-child(12) {
    transform: rotate(360deg) translateY(-100px);
     background: #3498db;
}